<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="pickup" checked>Afhalen</ion-segment-button>
    <ion-segment-button value="delivery">Gepland</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
        <ion-col>
      <div *ngIf="this.pickup">            
              <form [formGroup]="pickupForm">
              <ion-list>
                <ion-list-header color="primary">Nieuwe afspraak</ion-list-header>
            
                <ion-item>
                  <ion-label>Lokatie</ion-label>
                  <ion-select placeholder="Kies...">
                    <ion-select-option value="1">Locatie 1</ion-select-option>
                    <ion-select-option value="2">Locatie 2</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Type</ion-label>
                  <ion-select value="Pieces" (ionChange)="changeType()" formControlName="type" okText="Ok" cancelText="Sluiten">
                    <ion-select-option value="Pieces">Stuks</ion-select-option>
                    <ion-select-option value="Kilo">Kilo</ion-select-option>
                    <ion-select-option value="Bags">Waszakken</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item *ngIf="type === 'Pieces'">
                  <ion-label>
                    <h2>Aantallen</h2>
                    <p>kies de aantallen die u wilt laten ophalen </p>
                  </ion-label>
                  <ion-button (click)="chooseAmounts()"  fill="outline" slot="end">Kies</ion-button>
                </ion-item>
                <ion-item *ngIf="type === 'Kilo'">
                  <ion-label color="black">Aantal kilo's</ion-label>
                  <ion-input type="number" text-right placeholder="0"></ion-input>
                </ion-item>
                <ion-item *ngIf="type === 'Bags'">
                  <ion-label color="black">Aantal waszakken</ion-label>
                  <ion-input type="number" text-right placeholder="0"></ion-input>
                </ion-item>
                <ion-list *ngIf="type === 'Pieces'">
                  <ion-item *ngFor="let item of filteredItems ">
                    <ion-label color="black">{{item.product}}</ion-label>
                    <ion-input type="number" text-right value="{{item.amount}}" readonly></ion-input>
                  </ion-item>
                </ion-list>
                <ion-item>
                  <ion-label>Ophaal tijdstip</ion-label>
                  <ion-datetime displayFormat="D MMM YYYY H:mm" min="2019" max="2025" value="2019-04-26T10:00:00.000Z"></ion-datetime>
                </ion-item>
                <ion-item>
                  <ion-label>Aflever tijdstip</ion-label>
                  <ion-datetime displayFormat="D MMM YYYY H:mm" min="2019" max="2025" value="2019-04-26T10:00:00.000Z"></ion-datetime>
                </ion-item>
                <!-- Textarea in an item with a placeholder -->
                <ion-item>
                  <ion-textarea rows="4" placeholder="Voeg extra informatie toe..."></ion-textarea>
                </ion-item>
              </ion-list>
                <ion-grid>
                  <ion-row>
                    <ion-col col-3></ion-col>
                    <ion-col col-6>
                      <ion-button size="medium" (click)="sendDelivery()" expand="block">Versturen</ion-button>
                    </ion-col>
                    <ion-col col-3></ion-col>
                  </ion-row>
                </ion-grid>
              </form>
            
      </div>
      <div *ngIf="!this.pickup">
        <ion-list>
            <ion-list-header color="primary">Afspraken</ion-list-header>
            <ion-item lines="full"  *ngFor="let item of savedOrders"  (click)="openOrder(item.id)" detail>
                <ion-label>
                  27-04-2019  
                </ion-label>
                <ion-label>
                    Order {{item.id}} 
                </ion-label>
            </ion-item>
          </ion-list>
            <!-- <ion-item lines="full" (click)="buttonClick()" detail>
                <ion-label>
                  27-04-2019  
                </ion-label>
                <ion-label>
                   Aflever order 1234 
                  </ion-label>
              </ion-item>
              <ion-item lines="full" (click)="buttonClick()" detail >
                <ion-label>
                  29-04-2019  
                </ion-label>
                <ion-label>
                    Aflever order 3475
                </ion-label>
              </ion-item>
              <ion-item lines="full" (click)="buttonClick()" detail >
                <ion-label>
                  02-05-2019   
                </ion-label>
                <ion-label>
                    Aflever order 3502
                </ion-label>
              </ion-item> -->
            
              <!--<ion-grid>-->
                <!--<ion-row>-->
                  <!--<ion-col col-3></ion-col>-->
                  <!--<ion-col col-6>-->
                    <!--<ion-button size="medium" href="members/home" expand="block">Sluiten</ion-button>-->
                  <!--</ion-col>-->
                  <!--<ion-col col-3></ion-col>-->
                <!--</ion-row>-->
              <!--</ion-grid>-->
      </div>
        </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
