ion-card {
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;

  }

  .card-title {
    font-size: 24px;
    position: absolute;
    top: 5%;
    width: 100%;
    font-weight: bold;
    color: #fff;
    bottom: 0;
    padding: 1em;
    font-weight: 700;
    z-index: 2;
    box-sizing: border-box;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    position: sticky;
    width: 100%;
    color: #fff;
    bottom: 0;
    padding: 1em;
    font-weight: 700;
    z-index: 2;
    box-sizing: border-box;
  }

  // .card-title-last {
  //   font-size: 24px;
  //   position: absolute;
  //   top: 8%;
  //   width: 100%;
  //   font-weight: bold;
  //   color: #fff;
  //   bottom: 0;
  //   padding: 1em;
  //   font-weight: 700;
  //   z-index: 2;
  //   box-sizing: border-box;
  // }

  // .card-subtitle-last {
  //   font-size: 1.0em;
  //   position: absolute;
  //   top: 16%;
  //   width: 100%;
  //   color: #fff;
  //   bottom: 0;
  //   padding: 1em;
  //   font-weight: 700;
  //   z-index: 2;
  //   box-sizing: border-box;
  // }

.card-caption {
  position: relative;
  padding: 0;
  margin: 0;
  }
  .card-caption img {
  display: block;
  max-width: 100%;
  height: auto;
  }
  .card-caption:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.9) 100%) repeat 0 0;
  z-index: 1;
  }

  .card-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.43);
  }

  .amount-header-right {
    margin-right: 10px;
  }