<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-label>Dashboard</ion-label>
      <ion-icon name="shirt"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-label>Meldingen</ion-label>
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="invoices">
      <ion-label>Facturen</ion-label>
      <ion-icon name="logo-euro"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
