<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Meldingen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item lines="full" detail>
      <ion-icon  name="basket" slot="start"></ion-icon>
      Aanvraag pickup
      <div class="item-note" slot="end">
        21-04-2019 15:00
      </div>
    </ion-item>
    <ion-item lines="full" detail>
      <ion-icon  name="checkmark-circle-outline" slot="start"></ion-icon>
      #1234 Afgeleverd
      <div class="item-note" slot="end">
        23-04-2019 11:15
      </div>
    </ion-item>
    <ion-item lines="full" detail>
      <ion-icon  name="checkmark-circle-outline" slot="start"></ion-icon>
      #5678 Afgeleverd
      <div class="item-note" slot="end">
        24-04-2019 14:30
      </div>
    </ion-item>
    <ion-item lines="full" detail>
      <ion-icon  name="alarm" slot="start"></ion-icon>
      Ophaal afspraak #1245
      <div class="item-note" slot="end">
        25-04-2019 11:00
      </div>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <ion-button size="medium" href="dashboard" expand="block">Sluiten</ion-button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
