<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Facturen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header color="primary">Uw facturen</ion-list-header>
    <ion-item detail>
        <ion-icon name="download" slot="start"></ion-icon>
      <ion-label>
        <h2>2019</h2>
        <p>Factuur januari</p>
      </ion-label>
      <ion-button fill="outline" slot="end">Open</ion-button>
    </ion-item>
    <ion-item detail>
      <ion-icon name="download" slot="start"></ion-icon>
      <ion-label>
        <h2>2019</h2>
        <p>Factuur februari</p>
      </ion-label>
      <ion-button fill="outline" slot="end">Open</ion-button>
    </ion-item>
    <ion-item detail>
      <ion-icon name="download" slot="start"></ion-icon>
      <ion-label>
        <h2>2019</h2>
        <p>Factuur maart</p>
      </ion-label>
      <ion-button fill="outline" slot="end">Open</ion-button>
    </ion-item>
    <ion-item detail>
      <ion-icon name="download" slot="start"></ion-icon>
      <ion-label>
        <h2>2019</h2>
        <p>Factuur april</p>
      </ion-label>
      <ion-button fill="outline" slot="end">Open</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
